body {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(200, 200, 210);
  background-color: grey;
}

#ressia {
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#flag {
  transition: transform 0.6s ease;
}

#flag:hover {
  transform: scale(1.5);
}
